/**
    Forms
 */

.box-sizing-box {
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 16px;
}

.form-group .form-group--without-label {
     padding-left: 240px;
 }

.form-control {
    padding: 0 12px;
    width: 300px;
    height: 30px;
    border: 1px solid var(--charcoal-color-100);
    border-radius: 2px;
    background-color: var(--white);
    color: #455560;
    font-size: 13px;
}

.form-textarea {
    height: auto;
    padding: 6px 12px;
}

.form-textarea:focus {
    box-shadow: none;
    border-color: var(--charcoal-color-100);
}

.form-multiple {
    padding: 6px 0;
}

.form-multiple option{
    padding: 0 12px;
}

.form-label {
    font-weight: 700;
    font-size: 13px;
    color: var(--charcoal-color-400);
    line-height: 30px;
}

.form-label--fixed {
    width: 240px;
}

.form-check {
    position: relative;
    display: block;
}

.form-check-label {
    padding-left: 8px;
}

.form-validation.form-validation--error .form-control {
    border-color: var(--danger-400);
}

.fieldset {
    border-radius: 4px;
    border: 1px solid var(--charcoal-color-100);
    padding: 20px;
}

.legend {
    color: #99A2A8;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    background-color: var(--white);
    padding: 0 10px;
    margin-left: -10px;
}

/**
 * Lists
 */

.list-none {
    list-style-type: none !important;
}

/**
 * Box Shadow
 */

.shadow-inset-top-light-grey {
    box-shadow: inset 0 1px 0 0 var(--charcoal-color-100);
}

.box-shadow-default {
    box-shadow: -2px 0 8px 0 rgba(0, 0, 0, 0.15)
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

/**
 * Line height
 */

.leading-0 {
    line-height: 0 !important;
}

.leading-base {
    line-height: 1rem !important;
}

/**
 * Outline
 */

.outline-none {
    outline: none !important;
}

/**
 * Width
 */

.min-w-300 {
    min-width: 300px !important;
}

.max-w-500 {
    max-width: 500px !important;
}


/**
 * Text manipulations
 */

.break-word {
    word-break: break-word;
}
